body{
    min-width: auto;
    min-height: auto;
    margin: 0 20px;
    display: block;
    text-align: center;
}
.main{
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}